<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<script src="JS/jquery-3.4.0.js" type="text/javascript"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<style type="text/css">
* {
	margin: 0;
	padding: 0;
}

body {
	background: url(http://pic41.nipic.com/20140512/18546714_093834342172_2.jpg);
	background-size:cover;
}

h1, h2 {
	font-weight: bold;
}

.bottom {
	float: none;
	display: block;
	vertical-align: bottom;
}
</style>
</head>

<body>

</body>
<head>
<div class="container-fluid my-4 px-3">
	<div class="row">
		<div
			class="col-lg-5 offset-lg-1 col-sm-6 text-lg-left text-center text-light">
			<h1>UPCOMING 登录</h1>
		</div>

		<div class="col-lg-5  col-sm-6 text-lg-right text-center text-light">
			<h2>加入我们 UPCOMING</h2>
		</div>
	</div>
	<hr size="3" color="white">
</div>
</head>

<main>
<form action="/login" method="POST">
	<div class="container-fluid my-5 py-5 text-light">
		<div class="row py-3 ">
			<div class="col-lg-4 offset-lg-1 col-md-7  col-sm-12">
				<label for="">用户名</label>
				<div class="form-group">
					<input type="text" 
					maxlength="8" minlength="6" class="form-control"
						name="uid" placeholder="请输入工号" 
						onKeyUp="value=value.replace(/[\W]/g,'')"
						required>
				</div>
			</div>
		</div>

		<div class="row py-3">
			<div class="col-lg-4 offset-lg-1 col-md-7  col-sm-12">
				<label for="">密码</label>
				<div class="form-group ">
					<input type="password" minlength="1" maxlength="20" class="form-control"
						name="password" placeholder="请输入密码" 
						onKeyUp="value=value.replace(/[\W]/g,'')"
						required>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-2 offset-lg-1 col-md-4  col-sm-12">
				<button type="submit" class="btn btn-success btn-block">登录</button>
			</div>
			
		</div>
		<div style="color:red"><span th:text="${session.error}"></span></div>
	</div>
</form>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous" type="text/javascript"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous" type="text/javascript"></script>

<body></body>

</html>