<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>后台管理</title>
   <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style type="text/css">
.img{
	width:40px;
	height:40px;
}
</style>
  
</head>

<body >
<!-- Nav tabs -->
<ul class="nav nav-tabs " id="navId">
    <li class="nav-item">
        <a href="/mlogin" class="nav-link active">首页</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">员工信息</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/finddutys">查看员工信息</a>
            <a class="dropdown-item" href="/addE">添加员工信息</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/delUser">删除员工</a>
        </div>
    </li>
   
    <li class="nav-item">
        <a class="nav-link "  href="/salaryInfo" role="button" >工资信息</a>
        
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">岗位信息</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#tab2Id">查看</a>
            <a class="dropdown-item" href="#tab3Id">添加</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#tab4Id">修改</a>
        </div>
    </li>
    <li class="nav-item">
        <a href="/addcheckstat" class="nav-link">考勤</a>
    </li>
    <li class="nav-item">
        <a href="/tables" class="nav-link">报表</a>
    </li>
    <li class="nav-item">
    <img th:src="@{${session.IMG}}" class="img" th:text="${session.NAME}">管理员
         
    </li>
    
     <form class="form-inline my-2 my-lg-0" action="/back">
            
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">退出</button>
        </form>
</ul>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3"><span th:text="${session.NAME}"></span>管理员，进入后台管理...</h1>
    </div>
  </div>
</div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>