<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>报表</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

	<div id="app">
		<!-- 顶栏菜单 -->
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<a class="navbar-brand text-light" href="/m">返回首页</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>

		<!-- 展板 -->
		<div class="jumbotron jumbotron-fluid py-3">
			<div class="container ">
				<h1 class="display-4">
					管理员-<span th:text="${session.NAME}"></span>
				</h1>
				<p class="lead"></p>
			</div>
		</div>

		<!-- 工资管理界面 -->
		<div class="container-fluid">
			<div class="row">
				<!-- 左侧 -->
				<div class="col-lg-4 col-sm-12">
				<h1 style="padding-left:40px;">企业报表</h1>
				</div>
					
				<!-- 右侧 -->
				<div class="col-lg-8 col-sm-12">
					<table class="table">
						
						<tbody>
							<tr>
								<td>员工人数</td>
								<td>{{sumEmployee}}</td>
							</tr>
							<tr>
								<td>公司工资支出(元/年)</td>
								<td>{{sumSalary}}</td>
							</tr>
							<tr>
								<td>平均月工资（元/月）</td>
								<td>{{averSalary}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
	<script>
        new Vue({
            el: '#app',
            data: {
                sumEmployee:'',
                sumSalary:'',
                averSalary:''
            },
            methods: {
                
               
            },
            computed: {

            },
            mounted() {
                axios.get('/sumE')
                    .then(res => {
                        console.log(res)
                        this.sumEmployee = res.data;
                        
                    })
                    .catch(err => {
                        console.error(err);
                    })
                
                axios.get('/sumpaid')
                .then(res => {
                    console.log(res)
                    this.sumSalary = res.data;
                })
                .catch(err => {
                    console.error(err);
                })
                
                axios.get('/averpaid')
                .then(res => {
                    console.log(res)
                    this.averSalary = res.data;
                })
                .catch(err => {
                    console.error(err);
                })
            },
        })
    </script>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>